.blog {
  padding: 100px 20px;
  text-align: center;
}

.badge {
  display: inline-block;
  font-size: 12px;
  padding: 6px 16px;
  background: #f1efff;
  color: #6c63ff;
  border-radius: 20px;
  margin-bottom: 12px;
}

.blog h2 {
  font-size: 36px;
  margin-bottom: 48px;
}

/* BLOG GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

/* BLOG CARD */
.card {
  background: #fff;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  text-align: left;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.content {
  padding: 20px;
}

.date {
  font-size: 12px;
  color: #999;
}

.content h4 {
  font-size: 18px;
  margin: 10px 0;
}

.content p {
  font-size: 14px;
  color: #666;
  margin-bottom: 16px;
}

.content button {
  background: transparent;
  border: none;
  color: #6c63ff;
  font-weight: 600;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
