.statsSection {
  padding: 100px 20px;
  display: flex;
  justify-content: center;
}

/* Rounded yellow container */
.statsWrapper {
  background: #ffd15c;
  display: flex;
  gap: 60px;
  padding: 40px 60px;
  border-radius: 999px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1100px;
}

/* Each stat */
.statCard {
  text-align: center;
  min-width: 180px;
}

.icon {
  font-size: 26px;
  background: #fff;
  color: #333;
  padding: 12px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.statCard h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 4px;
}

.statCard p {
  font-size: 14px;
  color: #444;
}
