.stats {
  padding: 60px 40px;
  background-color: #dedb2d;
  color: white;
  border: 10px;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  gap: 20px;
}

.item h3 {
  font-size: 28px;
  margin-bottom: 8px;
}

.item p {
  font-size: 14px;
  opacity: 0.9;
}
